
/* Awesome Font Icons */

/* Index Intros */
.afi-users::before {
  content: '\f0c0';
}
.afi-3step::before {
  content: '\f0c9';
}
.afi-all::before {
  content: '\f1ce';
}
.afi-call::before {
  content: '\f095';
}
.afi-review::before {
  content: '\f0e5';
}
.afi-source::before {
  content: '\f129';
}
.afi::before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  margin-right: 6px;
  width: 1em;
  display: inline-block;
  text-align: center;
}